<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="user_header text-right my-3">
        <%= link_to "Sign Up", new_user_path, class: 'btn btn-outline-success' %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
